/*Estilos da página index.html*/

body {
    background-color: #192a56;
    
  }

.borda {
    background-color: bisque;

}
  

h1{
    color:#dcdde1; 
    text-align: center;
    
}

.center{
    text-align: center;
}

.text{
    color: #dcdde1;
    font-size: 20px;
    text-align: left;
    
}

.textsubtitulo{
    font-size: 30px;
    text-align: center;
    color: #dcdde1;
}

.texttrailer{
    font-size: 30px;
    justify-content: flex-start;
    
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#menu li{
display: inline;
padding: 15px;
text-decoration: none;
background-color: black;
}

#menu li a{
    text-decoration: none; 
    font-size: 20px; 
    color: #dcdde1;
    
}


.tm-social{
    width: 50px;
    height: 50px;
    padding: 15px;
    
    
}

.mb-50{
    margin-bottom: 50px;
}

.centro-logo{
    margin-left: 550px;
}

/*Estilos da página contato.html*/

.ml-50{
    margin-left: 50px;
}