/*Estilos da página index.html*/

body {
    background-color: aliceblue
  }

h1{
    color:black; 
    text-align: center;
}

.center{
    text-align: center;
}

.text{
    color: black;
    font-size: 20px;
    text-align: left;
    
}

.textsubtitulo{
    font-size: 30px;
    text-align: center;
}

.texttrailer{
    font-size: 30px;
    justify-content: flex-start;
    
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#menu li{
display: inline;
padding: 15px;
text-decoration: none;
}

#menu li a{
    text-decoration: none; 
    color: black;
    font-size: 20px; 
}


.tm-social{
    width: 50px;
    height: 50px;
    padding: 15px;
    
}

.mb-50{
    margin-bottom: 50px;
}

/*Estilos da página contato.html*/

.ml-50{
    margin-left: 50px;
}